body {
    background-color: #FEFAE0;
}

#navbar {
    display:flex;
    justify-content: space-around;
    background-color: #CCD5AE;
    height: 10vh;
    border: solid 4px #e9bf95f3;
    align-items: center;
}

.navitems {
    color: white;
    font-size: 32px;; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navitems:hover {
    background-color: #E9EDC9;
    color:#D4A373;
    opacity: 0.5;
    cursor: pointer;
    padding: 5px;
    font-size: 45px;; 
}

a:link{
    text-decoration: none;
}

.text{
    width: 66%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

img {
    width: 15%;
}

hr{
    border-top: 4px solid #D4A373;
}

#body1 {
    display:flex;
    justify-content: space-around;
    height: 30vh;
    text-align: center;
}

#body1 {
    display: flex;
    justify-content: space-around;
    height: 30vh;
    text-align: center;
}

#s1 {
    display:flex;
}

#s2 {
    display: none;
}

#s3 {
    display: none;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
    background-color: rgba(106, 103, 103, 0.992);
}

#button {
    left: 50%;
    position: absolute;

}

button {
    width: 30px;
    height: 30px;
}
